# URL de conexión a tu base de datos en Supabase
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.xpqccnnckysrkwnddwct.supabase.co:5432/postgres?sslmode=require

# Puerto donde tu servidor Express escuchará
PORT=3000
